<h1>Home#index</h1>
<p>
	Find me in app/views/home/index.html.erb
</p>



<script type="text/javascript" charset="utf-8">

$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'prices_chart' },
    title: { text: 'Orders by Day' },
    xAxis: { type: 'time' },
    yAxis: {
      title: { text: 'Dollars' }
    },
    series: [{
      pointInterval: <%= 1%>,
      pointStart: <%= 0 %>,
      data: <%= total_on %>
    }]
  });
});

</script>

<div id="prices_chart" style="width: 800px; height: 400px;"></div>
